.footer {
    background-color: #ffffff;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}
